<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYSI - Главная</title>
    <link rel="stylesheet" href="/static/css/indexStyles.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="/" class="references">Главная</a>
            </div>
            <nav>
                {% if session.get('username') %}
                    <a href="/inventory" class="references">Инвентарь</a>
                    <form id="logout-form" style="display:inline;">
                        <button type="button" id="logout-button" class="references">Выйти</button>
                    </form>
                {% else %}
                    <a href="/login" class="references">Войти</a>
                    <a href="/register" class="references">Регистрация</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <main>
        <h1>SYSI</h1>
        <p>Система управления спортивного инвентаря</p>
    </main>
    <footer>
        {% if session.get('username') %}
            <p class="left">Привет!</p>
            <p class="center"><strong>Твой Логин: {{ session['username'] }}</strong></p>
            <p class="right">
                {% if session['role'] == 'admin' %}
                    Твоя Роль: Администратор
                {% else %}
                    Твоя Роль: Пользователь
                {% endif %}
            </p>
        {% else %}
            <p class="center">Вы не вошли в систему.</p>
        {% endif %}
    </footer>
    <script>
        document.getElementById('logout-button').addEventListener('click', async function () {
            const response = await fetch('/api/logout', { method: 'GET' });
            if (response.ok) {
                window.location.reload();
            } else {
                alert('Ошибка при выходе');
            }
        });
    </script>
</body>
</html>
