<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запросы на назначение инвентаря</title>
    <link rel="stylesheet" href="/static/css/inventoryStyles.css">
</head>
<body>
    <h1>Запросы на назначение инвентаря</h1>
    {% if session.get('role') == 'admin' %}
    <div class="container">
        <h2>Получить все запросы</h2>
        <form class="forma">
            <button type="button" id="getRequestsAdmin">Отправить запрос</button>
        </form>
        <div id="requestsContainer" class="requests-list"></div>
        <div id="decisionButtons" class="btn-container hidden">
            <button type="button" id="denyButton">Отклонить</button>
            <button type="button" id="approveButton">Принять</button>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <h2>Отправить запрос на назначение инвентаря</h2>
        <form class="forma" id="requestForm">
            <div class="row-container">
                <div>
                    <label for="message">Сообщение</label>
                    <input type="text" id="message" name="name" required>
                </div>
            </div>
            <button type="submit">Отправить запрос</button>
        </form>
    </div> 
    <div id="responseText" style="display: none"></div> <!-- Костыль -->
    <script>
        async function sendRequest(url, method, data = null) {
            try {
                const response = await fetch(url, {
                    method: method,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: data ? JSON.stringify(data) : null
                });

                if (!response.ok) {
                    throw new Error(`HTTP Error: ${response.status} ${response.statusText}`);
                }

                const responseText = await response.json();
                document.getElementById('responseText').textContent = JSON.stringify(responseText, null, 2);
            } catch (error) {
                document.getElementById('responseText').textContent = `Error: ${error.message}`;
            }
        }

        function renderRequests(items) {
            const container = document.getElementById('requestsContainer');
            container.innerHTML = '';

            items.forEach(item => {
                const itemDiv = document.createElement('div');
                itemDiv.classList.add('requests-item');

                itemDiv.innerHTML = `
                    <div>
                        <label>ID</label>
                        <span>${item[0]}</span>
                    </div>
                    <div>
                        <label>Пользователь</label>
                        <span>${item[1]}</span>
                    </div>
                    <div>
                        <label>Сообщение</label>
                        <span>${item[2]}</span>
                    </div>
                    <div>
                        <label>Статус</label>
                        <span>${item[3]}</span>
                    </div>
                `;
                container.appendChild(itemDiv);
            });
        }

        async function fetchRequestsAdmin() {
            try {
                const response = await fetch('/api/getInventoryRequests');
                if (!response.ok) {
                    throw new Error(`HTTP Error: ${response.status} ${response.statusText}`);
                }

                const data = await response.json();
                document.getElementById('decisionButtons').classList.remove('hidden');
                renderRequests(data);
            } catch (error) {
                document.getElementById('responseText').textContent = `Ошибка: ${error.message}`;
            }
        }

        async function fetchRequestsDecision(tipchik) {
            try {
                const url = tipchik ? '/api/approveInventoryRequest' : '/api/denyInventoryRequest';
                const response = await fetch(url);

                if (!response.ok) {
                    throw new Error(`HTTP Error: ${response.status} ${response.statusText}`);
                }

                document.getElementById('responseText').textContent = tipchik ? 'Запросы успешно одобрены.' : 'Запросы успешно отклонены.';
            } catch (error) {
                document.getElementById('responseText').textContent = `Ошибка: ${error.message}`;
            }
        }

        document.getElementById('getRequestsAdmin').addEventListener('click', fetchRequestsAdmin);
        document.getElementById('denyButton').addEventListener('click', () => fetchRequestsDecision(false));
        document.getElementById('approveButton').addEventListener('click', () => fetchRequestsDecision(true));
        document.getElementById('requestForm').addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = {
                message: document.getElementById('message').value
            };
            sendRequest('/api/requestInventory', 'POST', formData);
        });
    </script>
</body>
</html>
