<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Инвентарь Админа</title>
    <link rel="stylesheet" href="/static/css/inventoryStyles.css">
</head>
<body>
    <h1>Инвентарь Администратора</h1>
    <div class="container">
        <h2>Изменить предмет</h2>
        <form class="forma" id="changeItemForm">
            <div class="row-container">
                <div>
                    <label for="change_item_id">ID</label>
                    <input type="number" id="change_item_id" name="item_id" required>
                </div>
                <div>
                    <label for="change_item_name">Название</label>
                    <input type="text" id="change_item_name" name="item_name" required>
                </div>
                <div>
                    <label for="change_amount">Кол-во</label>
                    <input type="number" id="change_amount" name="amount" required>
                </div>
                <div>
                    <label for="change_condition">Состояние</label>
                    <select id="change_condition" name="condition">
                        <option value="new">Новый</option>
                        <option value="used">Старый</option>
                        <option value="broken">Сломавшийся</option>
                    </select>
                </div>
                <div>
                    <label for="change_owned_by_user">Принадлежность</label>
                    <input type="text" id="change_owned_by_user" name="owned_by_user" />
                </div>
            </div>
            <button type="submit">Отправить запрос</button>
            <div id="changeItemError" class="error-message"></div>
        </form>
    </div>
    <div class="container">
        <h2>Добавить предмет</h2>
        <form class="forma" id="addItemForm">
            <div class="row-container">
                <div>
                    <label for="add_item_name">Название</label>
                    <input type="text" id="add_item_name" name="name" required>
                </div>
                <div>
                    <label for="add_amount">Количество</label>
                    <input type="number" id="add_amount" name="amount" required>
                </div>
                <div> 
                    <label for="add_item_owner">Принадлежность</label>
                    <input type="text" id="add_item_owner" name="owner" />
                </div>
            </div>
            <button type="submit">Отправить запрос</button>
            <div id="changeItemError" class="error-message"></div>
        </form>
    </div>
    <div class="container">
        <h2>Все инвентари всех пользователей</h2>
        <div id="inventoryContainer" class="inventory-list">
        </div>
        <div id="inventoryItemsError" class="error-message"></div>
    </div>
    <div class="backToMain">На главную</div>
    <div id="responseText" style="display: none"></div> <!-- Костыль -->
    <script>
        async function sendRequest(url, method, data = null) {
            try {
                const response = await fetch(url, {
                    method: method,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: data ? JSON.stringify(data) : null
                });

                if (!response.ok) {
                    throw new Error(`HTTP Error: ${response.status} ${response.statusText}`);
                }

                const responseText = await response.json();
                document.getElementById('responseText').textContent = JSON.stringify(responseText, null, 2);
            } catch (error) {
                document.getElementById('responseText').textContent = `Error: ${error.message}`;
            }
        }

        function renderInventoryItems(items) {
            const container = document.getElementById('inventoryContainer');
            container.innerHTML = '';
            const perevodchik = {
                'new': 'Новый',
                'used': 'Старый',
                'broken': 'Сломавшийся'
            }

            items.forEach(item => {
                const itemDiv = document.createElement('div');
                itemDiv.classList.add('inventory-item');
                const translatedCondition = perevodchik[item[3]] || item[3]; //Добавил если вдруг не будет такого кондишна
                itemDiv.innerHTML = `
                    <div>
                        <label>ID</label>
                        <span>${item[0]}</span>
                    </div>
                    <div>
                        <label>Название</label>
                        <span>${item[1]}</span>
                    </div>
                    <div>
                        <label>Количество</label>
                        <span>${item[2]}</span>
                    </div>
                    <div>
                        <label>Состояние</label>
                        <span>${translatedCondition}</span>
                    </div>
                    <div>
                        <label>Принадлежность</label>
                        <span>${item[4]}</span>
                    </div>
                `;
                container.appendChild(itemDiv);
            });
        }
        async function fetchInventoryAdmin() {
            try {
                const response = await fetch('/api/getInventoryAdmin');
                if (!response.ok) {
                    throw new Error(`Ошибка: ${response.statusText}`);
                }
                const data = await response.json();
                renderInventoryItems(data);
            } catch (error) {
                const errorMessage = document.getElementById('inventoryItemsError');
                if (errorMessage) errorMessage.textContent = `Ошибка: ${error.message}`;
                return null;
            }
        }
        window.addEventListener('load', fetchInventoryAdmin);
        document.getElementById('changeItemForm').addEventListener('submit', (event) => {
            event.preventDefault();
            let ownedBy = document.getElementById('change_owned_by_user').value;
            if (ownedBy.trim() === '') {
                ownedBy = 'Не привязано';
            }
            const formData = {
                item_id: parseInt(document.getElementById('change_item_id').value, 10),
                item_name: document.getElementById('change_item_name').value,
                amount: parseInt(document.getElementById('change_amount').value, 10),
                condition: document.getElementById('change_condition').value,
                owned_by: ownedBy
            };
            try {
                sendRequest('/api/changeItem', 'POST', formData);
                location.reload();
            } catch (error) {
                document.getElementById('changeItemError').innerText = `Ошибка: ${error.message || error}`;
            }
        });

        document.getElementById('addItemForm').addEventListener('submit', (event) => {
            event.preventDefault();
            let ownedBy = document.getElementById('add_item_owner').value;
            if (ownedBy.trim() === '') {
                ownedBy = 'Не привязано';
            }
            const formData = {
                item_name: document.getElementById('add_item_name').value,
                amount: parseInt(document.getElementById('add_amount').value, 10),
                owned_by: ownedBy
            };
            try {
                sendRequest('/api/addItem', 'POST', formData);
                location.reload();
            } catch (error) {
                document.getElementById('addItemError').innerText = `Ошибка: ${error.message || error}`;
            }
        });
        document.querySelector('.backToMain').addEventListener('click', () => {
            window.location.href = '/';
        });
    </script>
</body>
</html>
