<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запросы на инвентарь</title>
    <link rel="stylesheet" href="/static/css/inventoryStyles.css">
</head>
<body>
    <h1>Запросы на инвентарь</h1>
    {% if session.get('role') == 'admin' %}
    <div class="container">
        <h2>Получить все запросы</h2>
        <form class="forma">
            <button type="button" id="getRequestsAdmin">Отправить запрос</button>
        </form>
        <div id="requestsContainer" class="requests-list"></div>
        <div id="errorMessageInventoryRequests" class="error-message"></div>
    </div>
    {% else %}
    <div class="container">
        <h2>Отправить запрос на назначение инвентаря</h2>
        <form class="forma" id="requestForm">
            <div class="row-container">
                <div>
                    <label for="request_message">Сообщение</label>
                    <textarea type="text" id="request_message" name="message" required></textarea>
                </div>
            </div>
            <button type="submit">Отправить запрос</button>
        </form>
    </div> 
    <div class="container">
        <h2>Мои запросы на назначение</h2>
        <div id="myInventoryRequestsContainer" class="requests-list"></div>
        <div id="myInventoryRequestsError" class="error-message"></div>
    </div>
    {% endif %}
    <div class="backToMain">На главную</div>
    <div id="responseText" style="display: none"></div> <!-- Костыль -->
    <script>
        async function sendRequest(url, method, data = null) {
            try {
                const response = await fetch(url, {
                    method: method,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: data ? JSON.stringify(data) : null
                });

                if (!response.ok) {
                    throw new Error(`HTTP Error: ${response.status} ${response.statusText}`);
                }

                const responseText = await response.json();
                document.getElementById('responseText').textContent = JSON.stringify(responseText, null, 2);
            } catch (error) {
                document.getElementById('responseText').textContent = `Error: ${error.message}`;
            }
        }
        function renderMyRequests(items) {
            const container = document.getElementById('myInventoryRequestsContainer');
            container.innerHTML = '';
            if (items.length == 0) {
                container.textContent = 'Пока нет ничего. Добавьте запрос и отследите его прогресс.';
                return;
            }
            const perevodchik = {
                'pending': 'Ожидание',
                'approved': 'Принято',
                'declined': 'Отклонено'
            };
            items.forEach(item => {
                const itemDiv = document.createElement('div');
                itemDiv.classList.add('requests-item');
                const status = perevodchik[item[3]] || item[3];
                itemDiv.innerHTML = `
                    <div>
                        <label>ID</label>
                        <span>${item[0]}</span>
                    </div>
                    <div>
                        <label>Пользователь</label>
                        <span>${item[1]}</span>
                    </div>
                    <div>
                        <label>Сообщение</label>
                        <p>${item[2]}</p>
                    </div>
                    <div>
                        <label>Статус</label>
                        <span>${status}</span>
                    </div>
                    <div id="response-request-${item[0]}"></div>
                `;
                container.appendChild(itemDiv);
            });
        }
        async function fetchMyRequests() {
            try {
                const response = await fetch('/api/getMyInventoryRequests');
                if (!response.ok) {
                    throw new Error(`HTTP Error: ${response.status} ${response.statusText}`);
                }

                const data = await response.json();
                renderMyRequests(data);
            } catch (error) {
                const errorRequests = document.getElementById('myInventoryRequestsError');
                if (errorRequests) errorRequests.textContent = `Ошибка: ${error.message}`;
            }
        }
        window.addEventListener('load', fetchMyRequests);
        function renderRequests(items) {
            const container = document.getElementById('requestsContainer');
            container.innerHTML = '';
            const perevodchik = {
                'pending': 'Ожидание',
            };
            items.forEach(item => {
                const itemDiv = document.createElement('div');
                itemDiv.classList.add('requests-item');
                const status = perevodchik[item[3]] || item[3];
                itemDiv.innerHTML = `
                    <div>
                        <label>ID запроса</label>
                        <span>${item[0]}</span>
                    </div>
                    <div>
                        <label>Пользователь</label>
                        <span>${item[1]}</span>
                    </div>
                    <div>
                        <label>Сообщение</label>
                        <span>${item[2]}</span>
                    </div>
                    <div>
                        <label>Статус</label>
                        <span>${status}</span>
                    </div>
                    <div>
                        <button class="approve-btn" data-id="${item[0]}" type="button">Принять</button>
                        <button class="deny-btn" data-id="${item[0]}" type="button">Отклонить</button>
                    </div>
                    <div id="response-request-${item[0]}"></div>
                `;
                container.appendChild(itemDiv);
            });
            document.querySelectorAll('.approve-btn').forEach(button => {
                button.addEventListener('click', () => {
                    const requestId = button.getAttribute('data-id');
                    fetchRequestsDecision(true, requestId);
                });
            });
            document.querySelectorAll('.deny-btn').forEach(button => {
                button.addEventListener('click', () => {
                    const requestId = button.getAttribute('data-id');
                    fetchRequestsDecision(false, requestId);
                });
            });
        }

        async function fetchRequestsAdmin() {
            try {
                const response = await fetch('/api/getInventoryRequests');
                if (!response.ok) {
                    throw new Error(`HTTP Error: ${response.status} ${response.statusText}`);
                }

                const data = await response.json();
                renderRequests(data);
            } catch (error) {
                document.getElementById('errorMessageInventoryRequests').textContent = `Ошибка: ${error.message}`;
            }
        }

        async function fetchRequestsDecision(isApproved, requestId) {
            try {
                const url = isApproved ? '/api/approveInventoryRequest' : '/api/denyInventoryRequest';
                const formData = {
                    request_id: parseInt(requestId, 10)
                };
                sendRequest(url, 'POST', formData);
                document.getElementById(`response-request-${requestId}`).textContent = isApproved ? 'Одобрено' : 'Отклонено';
            } catch (error) {
                document.getElementById(`response-request-${requestId}`).textContent = `Ошибка: ${error.message}`;
            }
        }

        const requestsAdmin = document.getElementById('getRequestsAdmin');
        if (requestsAdmin) requestsAdmin.addEventListener('click', fetchRequestsAdmin);
        const formaRequest = document.getElementById('requestForm');
        if (formaRequest) formaRequest.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = {
                message: document.getElementById('request_message').value,
            };
            sendRequest('/api/requestInventory', 'POST', formData);
            setTimeout(() => {
                    location.reload();
            }, 250);
        });
        document.querySelector('.backToMain').addEventListener('click', () => {
            window.location.href = '/';
        });
    </script>
</body>
</html>
