<!DOCTYPE html> 
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="/static/css/registerAndLoginStyles.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>Вход</h2>
            <form id="login-form">
                <label for="username">Логин</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="login_button">Войти</button>
            </form>
            <p id="login-message"></p>
        </div>
    </div>

    <script>
        document.getElementById('login-form').addEventListener('submit', async function(event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password }),
            });

            const data = await response.json();
            const messageElement = document.getElementById('login-message');
            if (response.status === 200) {
                messageElement.textContent = "Вход успешен!";
                messageElement.style.color = '#21a645';
                setTimeout(function() {
                    window.location.href = '/';
                }, 3000);
            } else {
                messageElement.textContent = `Что-то не так, ошибка ${data.error}`;
                messageElement.style.color = '#a62135';
            }
        });
    </script>
</body>
</html>
