<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/css/registerAndLoginStyles.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>Регистрация</h2>
            <form id="register-form">
                <label for="username">Логин</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="register_button">Зарегистрироваться</button>
            </form>
            <p id="register-message"></p>
        </div>
    </div>

    <script>
        document.getElementById('register-form').addEventListener('submit', async function(event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/api/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password }),
            });

            const data = await response.json();
            const messageElement = document.getElementById('register-message');
            if (response.status === 201) {
                messageElement.textContent = "Регистрация успешна!";
                messageElement.style.color = '#21a645';
            } else {
                messageElement.textContent = "Что-то не так, ошибка", data.error;
                messageElement.style.color = '#a62135';
            }
        });
    </script>
</body>
</html>
